## LOOPS

In [4]:
cleanest_cities = ["Cheyenne", "Santa Fe", "Tucson", "Great Falls", "Honolulu"]
city_to_check = "Tucson"


for a_clean_city in cleanest_cities:
    if city_to_check == a_clean_city:
        print("It is one of the cleanest city")

It is one of the cleanest city

In [5]:
# if Python finds a match, there's no point in continuing the loop. So you stop the loop by adding a break statement:

In [6]:
for a_clean_city in cleanest_cities:
    if city_to_check == a_clean_city:
        print("It is one of the cleanest city")
        break

It is one of the cleanest city

## 22  for loops nested

In [8]:
first_names = ["BlueRay ", "Upchuck ", "Lojack ", "Gizmo ", "Do-Rag "]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []

for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name + " " + a_last_name)
print(full_names)

['BlueRay  Zzz', 'BlueRay  Burp', 'BlueRay  Dogbone', 'BlueRay  Droop', 'Upchuck  Zzz', 'Upchuck  Burp', 'Upchuck  Dogbone', 'Upchuck  Droop', 'Lojack  Zzz', 'Lojack  Burp', 'Lojack  Dogbone', 'Lojack  Droop', 'Gizmo  Zzz', 'Gizmo  Burp', 'Gizmo  Dogbone', 'Gizmo  Droop', 'Do-Rag  Zzz', 'Do-Rag  Burp', 'Do-Rag  Dogbone', 'Do-Rag  Droop']

## Some Other Examples

In [9]:
for i in range(1,11):
    print("pakistan",i)

pakistan 1
pakistan 2
pakistan 3
pakistan 4
pakistan 5
pakistan 6
pakistan 7
pakistan 8
pakistan 9
pakistan 10

In [10]:
["pakistan"+str(x) for x in range(1,11)]

['pakistan1',
 'pakistan2',
 'pakistan3',
 'pakistan4',
 'pakistan5',
 'pakistan6',
 'pakistan7',
 'pakistan8',
 'pakistan9',
 'pakistan10']

In [11]:
for i in range(1,11):
    print(2, "X", i , "=", 2*i)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [13]:
["2 X" + str(i) + " = "+ str(2*i) for i in range(1,11)]

['2 X1 = 2',
 '2 X2 = 4',
 '2 X3 = 6',
 '2 X4 = 8',
 '2 X5 = 10',
 '2 X6 = 12',
 '2 X7 = 14',
 '2 X8 = 16',
 '2 X9 = 18',
 '2 X10 = 20']