In [1]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]

In [2]:
cities[3] = "Talha"

In [3]:
cities

['Atlanta', 'Baltimore', 'Chicago', 'Talha', 'Los Angeles', 'Seattle']

In [4]:
1cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]

SyntaxError: invalid syntax (<ipython-input-4-88efc9590ed3>, line 1)

In [5]:
cities = ["Atlanta", "Baltimore", "Chicago",
"Denver", "Los Angeles", "Seattle"]

In [6]:
# adding the 7th element to the list
cities.append("New York")

In [7]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York']

In [8]:
cities.append(5)

In [9]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York',
 5]

In [10]:
cities = cities + ["Dubuque", "New Orleans"]

In [11]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York',
 5,
 'Dubuque',
 'New Orleans']

In [14]:
longer_list_of_cities = cities + ["Dubuque", "New"
,"Orleans"]

In [15]:
longer_list_of_cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York',
 5,
 'Dubuque',
 'New Orleans',
 'Dubuque',
 'New',
 'Orleans']

In [16]:
cities[0] is "Atlanta"
cities[1] is "Baltimore"
cities[2] is "Chicago"
cities[3] is "Denver"
cities[4] is "Los Angeles"
cities[5] is "Seattle"

True

In [17]:
cities.insert(0,"Rawalpindi")

In [18]:
cities

['Rawalpindi',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York',
 5,
 'Dubuque',
 'New Orleans']

In [19]:
names = ["Talha", "Javaid"]

In [20]:
names.insert(0,"Malik")

In [21]:
names

['Malik', 'Talha', 'Javaid']

In [22]:
names.insert(1,"Test at 1th index")

In [23]:
names

['Malik', 'Test at 1th index', 'Talha', 'Javaid']

## Lists: Taking slices out of them

In [24]:
cities = ["Atlanta", "Baltimore", "Chicago",
"Denver", "Los Angeles", "Seattle"]

In [25]:
smallest_list_of_cities = cities[2:5]

In [26]:
smallest_list_of_cities

['Chicago', 'Denver', 'Los Angeles']

In [27]:
smallest_list_of_cities = cities[:5]

In [28]:
smallest_list_of_cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles']

In [29]:
smaller_list_of_cities = cities[2:]

In [30]:
smaller_list_of_cities

['Chicago', 'Denver', 'Los Angeles', 'Seattle']

## Lists: Taking slices out of them

In [33]:
cities = ["Atlanta", "Baltimore", "Chicago",
"Denver", "Los Angeles", "Seattle"]

In [34]:
smaller_list_of_cities = cities[2:5]

In [35]:
smaller_list_of_cities

['Chicago', 'Denver', 'Los Angeles']

In [36]:
smaller_list_of_cities = cities[2:]

## Lists: Deleting and removing elements

In [41]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]

In [42]:
del tasks[0]

In [43]:
tasks

['call Sarah', 'meet with Zach']

##### You can also strike an element off a list by specifying its value instead of its index number:

In [46]:
tasks.remove("meet with Zach")

In [47]:
tasks

['call Sarah']

## Lists: popping elements

### sometimes, you want to strike an element off a list but hang onto it for another purpose.

In [60]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]

In [61]:
print(tasks)

['email Frank', 'call Sarah', 'meet with Zach']

In [62]:
tasks_accomplished = []

In [63]:
tasks_accomplished.append(latest_task_accomplished)

In [64]:
tasks_accomplished

['call Sarah']

In [65]:
tasks

['email Frank', 'call Sarah', 'meet with Zach']

In [66]:
tasks_accomplished.append(tasks.pop(1))

In [67]:
tasks

['email Frank', 'meet with Zach']

In [68]:
latest_task_accomplished

'call Sarah'

In [69]:
latest_task_accomplished = tasks.pop()

In [77]:
 latest_task_accomplished
tasks

['email Frank']