### a dictionary is a series of paired keys and values

In [ ]:
customer_29876 = {"first name": "David",
                  "last name": "Elliott",
                  "address": "4803 Wellesley St." }

## Dictionaries: How to pick information out of them

In [2]:
customer_29876 = {"first name": "David",
                  "last name": "Elliott",
                  "address": "4803 Wellesley St."}
address_of_customer = customer_29876["address"]
print(address_of_customer)

4803 Wellesley St.

#### A key doesn't have to be a string. Nor does a value. Let's talk about that next

# 28 ::::  Dictionaries: The versatility of keys and values

In [ ]:
# Keys don't have to be strings. They can be numbers:

rankings = {5: "Finland",
            2: "Norway",
            3: "Sweden",
            7: "Iceland"}

In [4]:
# You can mix strings and numbers any way you want.

things_to_remember = {0: "the lowest number",
                      "adozen": 12, 
                      "snake eyes": "a pair of ones",
                      13: "abaker's dozen"}

# 29 ::: Dictionaries: Adding items

In [5]:
# You can add a new pair by writing...
customer_29876["city"] = "Toronto"

In [9]:
customer_29876["address"]
customer_29876["city"]

'Toronto'

## 30 ::: Dictionaries: Removing and changing items

In [10]:
del things_to_remember[0]

In [11]:
things_to_remember

{'adozen': 12, 'snake eyes': 'a pair of ones', 13: "abaker's dozen"}

## 31 ::::  Dictionaries: Looping through values

In [15]:
#looping through keys

for a_thing_to_remember in things_to_remember:
    print(a_thing_to_remember)

adozen
snake eyes
13

In [17]:
# Looping through values

for a_thing_to_remember in things_to_remember.values():
    print(a_thing_to_remember)

12
a pair of ones
abaker's dozen

## 32 :::: Dictionaries: Looping through keys

In [18]:
# Looping through keys

for a_thing_to_remember in things_to_remember.keys():
    print(a_thing_to_remember)

adozen
snake eyes
13

## 33 :::: Dictionaries: Looping through key-value pairs

In [20]:
customer_29876 = {"first name": "David",
                  "last name": "Elliott",
                  "address": "4803 Wellesley St."
                 }


for each_key, each_value in customer_29876.items():
    print("The customer's "+ each_key + " is " + each_value)

The customer's first name is David
The customer's last name is Elliott
The customer's address is 4803 Wellesley St.

## 34 :::: Creating a list of dictionaries

In [21]:
customers = [
    {"customer id": 0,
     "first name":"John",
     "last name": "Ogden",
     "address": "301 Arbor Rd.",
    },
    {
        "customer id": 1,
        "first name":"Ann",
        "last name": "Sattermyer",
        "address": "PO Box 1145",
    },
    {
        "customer id": 2,
        "first name":"Jill",
        "last name": "Somers",
        "address": "3 Main St."
    }
 ]

In [25]:
for customer in customers:
    print(customer)

{'customer id': 0, 'first name': 'John', 'last name': 'Ogden', 'address': '301 Arbor Rd.'}
{'customer id': 1, 'first name': 'Ann', 'last name': 'Sattermyer', 'address': 'PO Box 1145'}
{'customer id': 2, 'first name': 'Jill', 'last name': 'Somers', 'address': '3 Main St.'}

## 35 :::: How to pick information out of a list of dictionaries

In [26]:
# Let's say I want to know the address of a customer whose id is 1. This is
# the code that finds it:

In [29]:
dictionary_to_look_in = customers[1]
customer_address = dictionary_to_look_in["address"]
print(dictionary_to_look_in)
print(customer_address)

{'customer id': 1, 'first name': 'Ann', 'last name': 'Sattermyer', 'address': 'PO Box 1145'}
PO Box 1145

## 36 :::: How to append a new dictionary to a list of dictionaries

In [31]:
new_customer_id = len(customers)
print(new_customer_id)

3

In [32]:
new_first_name = "Talha"
new_last_name = "Javaid"
new_address = "Berlin,Germany"

new_dictionary = {
"customer id": new_customer_id,
"first name": new_first_name,
"last name": new_last_name,
"address": new_address,
}

In [37]:
customers.append(new_dictionary)
print(customers)

[{'customer id': 0, 'first name': 'John', 'last name': 'Ogden', 'address': '301 Arbor Rd.'}, {'customer id': 1, 'first name': 'Ann', 'last name': 'Sattermyer', 'address': 'PO Box 1145'}, {'customer id': 2, 'first name': 'Jill', 'last name': 'Somers', 'address': '3 Main St.'}, {'customer id': 3, 'first name': 'Talha', 'last name': 'Javaid', 'address': 'Berlin,Germany'}, {'customer id': 3, 'first name': 'Talha', 'last name': 'Javaid', 'address': 'Berlin,Germany'}, {'customer id': 3, 'first name': 'Talha', 'last name': 'Javaid', 'address': 'Berlin,Germany'}, {'customer id': 3, 'first name': 'Talha', 'last name': 'Javaid', 'address': 'Berlin,Germany'}, {'customer id': 3, 'first name': 'Talha', 'last name': 'Javaid', 'address': 'Berlin,Germany'}]

In [38]:
customers

[{'customer id': 0,
  'first name': 'John',
  'last name': 'Ogden',
  'address': '301 Arbor Rd.'},
 {'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145'},
 {'customer id': 2,
  'first name': 'Jill',
  'last name': 'Somers',
  'address': '3 Main St.'},
 {'customer id': 3,
  'first name': 'Talha',
  'last name': 'Javaid',
  'address': 'Berlin,Germany'},
 {'customer id': 3,
  'first name': 'Talha',
  'last name': 'Javaid',
  'address': 'Berlin,Germany'},
 {'customer id': 3,
  'first name': 'Talha',
  'last name': 'Javaid',
  'address': 'Berlin,Germany'},
 {'customer id': 3,
  'first name': 'Talha',
  'last name': 'Javaid',
  'address': 'Berlin,Germany'},
 {'customer id': 3,
  'first name': 'Talha',
  'last name': 'Javaid',
  'address': 'Berlin,Germany'}]

## 37 :::: Creating a dictionary that contains lists

In [ ]:
customer_29876 = {
    "first name": "David",
    "last name": "Elliott",
    "address": "4803 Wellesley St.",
    "discounts": ["standard", "volume", "loyalty", "brother_in_law"]
}

## 38 How to get information out of a list within a dictionary

In [ ]:
if "brother_in_law" in customer_29876["discounts"]:
    discount_amount = .30
elif "loyality" in customer_29876["discounts"]:
    discount_amount = .15
elif "volume" in customer_29876["discounts"]:
    discount_amount = .10
elif "standard" in customer_29876["discounts"]:
    discount_amount = .05

## 39 :::: Creating a dictionary that contains a dictionary

In [40]:
customers = {
    0:{
    "first name":"John",
    "last name": "Ogden",
    "address": "301 Arbor Rd.",
    },
    
    1:{
    "first name":"Ann",
    "last name": "Sattermyer",
    "address": "PO Box 1145",
    },
    
    2:{
    "first name":"Jill",
    "last name": "Somers",
    "address": "3 Main St.", },
     }

## 40 How to get information out of a dictionary within another dictionary

In [41]:
print(customers[2])

{'first name': 'Jill', 'last name': 'Somers', 'address': '3 Main St.'}

In [45]:
print(customers[1]["first name"])

Ann

# Task1 # Store id, name and skill in dictionary with input function

In [49]:
information = {} # empty dictionary
user_id = input("Enter your ID")
information['id'] = user_id

name = input("Enter Your Name")
information['name'] = name


skills = input("Enter your skill with',' seprated value")
information['skills']=skills.split()
information

Enter your ID34
Enter Your NameTalha
Enter your skill with',' seprated valuejava,python,kotlin

{'id': '34', 'name': 'Talha', 'skills': ['java,python,kotlin']}

In [50]:
information = {} # empty dictionary
user_id = input("Enter your ID")
information['id'] = user_id

name = input("Enter Your Name")
information['name'] = name

information['skills']=["Python"]


skills = input("Enter your skill with',' seprated value")
information['skills']=information['skills']+skills.split(',')
information

Enter your ID089
Enter Your NameTalha
Enter your skill with',' seprated valuejava,python,kotlin

{'id': '089',
 'name': 'Talha',
 'skills': ['Python', 'java', 'python', 'kotlin']}

In [51]:
# dict[item1, item2, item3]
#item = key:value

d1 = {'id': 2,
     'name':"Qasim",
     'course':'A.I',
      'id':5,
     'admission date': '2019-12-15',
     'DOB': '01-01-2000'}

print(d1)
?dict.copy

{'id': 5, 'name': 'Qasim', 'course': 'A.I', 'admission date': '2019-12-15', 'DOB': '01-01-2000'}

In [52]:
d2 = d1.copy()
d2["id"] = 10
print(d1)
print(d2)

{'id': 5, 'name': 'Qasim', 'course': 'A.I', 'admission date': '2019-12-15', 'DOB': '01-01-2000'}
{'id': 10, 'name': 'Qasim', 'course': 'A.I', 'admission date': '2019-12-15', 'DOB': '01-01-2000'}

In [53]:
l1 = ['id','name','course','timing','address', 'DOB']
print(l1)

d1 = dict.fromkeys(l1)
print(d1)

['id', 'name', 'course', 'timing', 'address', 'DOB']
{'id': None, 'name': None, 'course': None, 'timing': None, 'address': None, 'DOB': None}

In [54]:
# l1 = input("keys")
# l1 = l1.split(",")


l1 = input("keys").split(",")
l2 = input("values").split(",")

#d1 = {a:x, b:y, c:z}
l3 = list(zip(l1,l2))
print(l3)
d1 = dict(l3)
print(d1)
#dict([('a',"x"), ('b','y'), ('c','z')])

keysname,language,city
valuesTalha,Python,Islamabad
[('name', 'Talha'), ('language', 'Python'), ('city', 'Islamabad')]
{'name': 'Talha', 'language': 'Python', 'city': 'Islamabad'}

In [56]:
l4 = zip(l1,l2)
print(l4)

<zip object at 0x7efdbb4f1af0>

In [60]:
print(d1)
print(d1.get('h')) # if key available then extract it. error will not generate
print(d1.get('i',"Value is not available"))
print(d1.get("name",0))
print(d1)

{'name': 'Talha', 'language': 'Python', 'city': 'Islamabad'}
None
Value is not available
Talha
{'name': 'Talha', 'language': 'Python', 'city': 'Islamabad'}

In [61]:
print(d1)
d1.items()

{'name': 'Talha', 'language': 'Python', 'city': 'Islamabad'}

dict_items([('name', 'Talha'), ('language', 'Python'), ('city', 'Islamabad')])

In [62]:
d1 = {'a': 'x', 'b': 'y', 'c': 'z'}
print(d1.popitem())
print(d1)

('c', 'z')
{'a': 'x', 'b': 'y'}

In [63]:
print(d1)
print(d1.setdefault('abc1','xyz'))
d1['abc']='pakistan'
print(d1)

{'a': 'x', 'b': 'y'}
xyz
{'a': 'x', 'b': 'y', 'abc1': 'xyz', 'abc': 'pakistan'}

In [64]:
d1 = {'a': 'x', 'b': 'y', 'c': 'z'}
print(d1)

{'a': 'x', 'b': 'y', 'c': 'z'}

In [65]:
d1 = {'a':'AA','b':'BB'}

d2 = {'a':"AAAA", 'c':'CCCC'}

d1.update(d2)
d1

{'a': 'AAAA', 'b': 'BB', 'c': 'CCCC'}

In [66]:
d1 = {'a':1, 'b':2, 'c':3, 'd':5,'e':4,'f':6}
d2 = d1.values()
print(sorted(d2, reverse=True))

[6, 5, 4, 3, 2, 1]

In [70]:
d1.clear()
k=['d', 'b','c','a']
v=[4,2,3,1]
l1=zip(k,v)
l1=list(l1)
d1
l1
#for i in range(0,len(l1)):
    #d1[k[i]]=v[i]
#d1

[('d', 4), ('b', 2), ('c', 3), ('a', 1)]

In [72]:
d1 = {'a':1, 'b': 5 , 'c':3 }
list1 = list(d1.keys())
slist = sorted(list1, reverse = True)
nDict = {}
for i in slist:
    nDict[i] = d1[i]
    print(nDict)
nDict

{'c': 3}
{'c': 3, 'b': 5}
{'c': 3, 'b': 5, 'a': 1}

{'c': 3, 'b': 5, 'a': 1}

In [73]:
d1 = {'a':1, 'b': 5 , 'c':3 }

In [75]:
{k:v for k,v in sorted(d1.items(), key= lambda item: item[0])}

{'a': 1, 'b': 5, 'c': 3}

In [78]:
d1 = {'a':1, 'b': 5 , 'c':3 }
d2 = {}
for k, v in (sorted(d1.items(), key=lambda x:x[1], reverse=True)):
    d2[k]=v
print(d2)

{'b': 5, 'c': 3, 'a': 1}