In [1]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]

In [2]:
cities[3] = "Talha"

In [3]:
cities

['Atlanta', 'Baltimore', 'Chicago', 'Talha', 'Los Angeles', 'Seattle']

In [4]:
1cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]

SyntaxError: invalid syntax (<ipython-input-4-88efc9590ed3>, line 1)

In [5]:
cities = ["Atlanta", "Baltimore", "Chicago",
"Denver", "Los Angeles", "Seattle"]

In [6]:
# adding the 7th element to the list
cities.append("New York")

In [7]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York']

In [8]:
cities.append(5)

In [9]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York',
 5]

In [10]:
cities = cities + ["Dubuque", "New Orleans"]

In [11]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York',
 5,
 'Dubuque',
 'New Orleans']

In [14]:
longer_list_of_cities = cities + ["Dubuque", "New"
,"Orleans"]

In [15]:
longer_list_of_cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York',
 5,
 'Dubuque',
 'New Orleans',
 'Dubuque',
 'New',
 'Orleans']

In [16]:
cities[0] is "Atlanta"
cities[1] is "Baltimore"
cities[2] is "Chicago"
cities[3] is "Denver"
cities[4] is "Los Angeles"
cities[5] is "Seattle"

True

In [17]:
cities.insert(0,"Rawalpindi")

In [18]:
cities

['Rawalpindi',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York',
 5,
 'Dubuque',
 'New Orleans']

In [19]:
names = ["Talha", "Javaid"]

In [20]:
names.insert(0,"Malik")

In [21]:
names

['Malik', 'Talha', 'Javaid']

In [22]:
names.insert(1,"Test at 1th index")

In [23]:
names

['Malik', 'Test at 1th index', 'Talha', 'Javaid']

## Lists: Taking slices out of them

In [24]:
cities = ["Atlanta", "Baltimore", "Chicago",
"Denver", "Los Angeles", "Seattle"]

In [25]:
smallest_list_of_cities = cities[2:5]

In [26]:
smallest_list_of_cities

['Chicago', 'Denver', 'Los Angeles']

In [27]:
smallest_list_of_cities = cities[:5]

In [28]:
smallest_list_of_cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles']

In [29]:
smaller_list_of_cities = cities[2:]

In [30]:
smaller_list_of_cities

['Chicago', 'Denver', 'Los Angeles', 'Seattle']

## Lists: Taking slices out of them

In [33]:
cities = ["Atlanta", "Baltimore", "Chicago",
"Denver", "Los Angeles", "Seattle"]

In [34]:
smaller_list_of_cities = cities[2:5]

In [35]:
smaller_list_of_cities

['Chicago', 'Denver', 'Los Angeles']

In [36]:
smaller_list_of_cities = cities[2:]

## Lists: Deleting and removing elements

In [41]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]

In [42]:
del tasks[0]

In [43]:
tasks

['call Sarah', 'meet with Zach']

##### You can also strike an element off a list by specifying its value instead of its index number:

In [46]:
tasks.remove("meet with Zach")

In [47]:
tasks

['call Sarah']

## Lists: popping elements

### sometimes, you want to strike an element off a list but hang onto it for another purpose.

In [60]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]

In [61]:
print(tasks)

['email Frank', 'call Sarah', 'meet with Zach']

In [62]:
tasks_accomplished = []

In [63]:
tasks_accomplished.append(latest_task_accomplished)

In [64]:
tasks_accomplished

['call Sarah']

In [65]:
tasks

['email Frank', 'call Sarah', 'meet with Zach']

In [66]:
tasks_accomplished.append(tasks.pop(1))

In [67]:
tasks

['email Frank', 'meet with Zach']

In [68]:
latest_task_accomplished

'call Sarah'

In [69]:
latest_task_accomplished = tasks.pop()

In [77]:
 latest_task_accomplished
tasks

['email Frank']

### Some More Features Of Lists

In [1]:
names = []

names.append("A")
names.append("B")
names.append("c")

names.clear()
names

[]

In [2]:
names = []

names.append("A")
names.append("B")
names.append("c")

names1 = names
print(names1)
print(names)


names1[0] = "Z"

print(names1)
print(names)

['A', 'B', 'c']
['A', 'B', 'c']
['Z', 'B', 'c']
['Z', 'B', 'c']

In [3]:
names = []

names.append("A")
names.append("B")
names.append("c")

names1 = names.copy()
print("names1",names1)
print("names",names)


names1[0] = "Z"

print("names1",names1)
print("names",names)

names1 ['A', 'B', 'c']
names ['A', 'B', 'c']
names1 ['Z', 'B', 'c']
names ['A', 'B', 'c']

In [4]:
names = ['A','B',"A","C","D"]
names.count("A")

2

In [6]:
l1 = ['A','B',"C"]
l2 = ["X","Y","Z"]
l3 = l1 + l2
print(l3)
print(l1)
print(l2)

['A', 'B', 'C', 'X', 'Y', 'Z']
['A', 'B', 'C']
['X', 'Y', 'Z']

In [10]:
l1 = ['A','B',"C"]
l2 = ["X","Y","Z"]
l3 =l1.extend(l2) # In Memory operation
print(l3)
print(l1)
print(l2)

None
['A', 'B', 'C', 'X', 'Y', 'Z']
['X', 'Y', 'Z']

In [11]:
l1 = ['A', 'B', 'C','A', 'X', 'Y', 'Z']
print(l1)
print(l1.index("A"))
print(l1.index("A", 1))

['A', 'B', 'C', 'A', 'X', 'Y', 'Z']
0
3

In [12]:
l1 = []
l1.insert(0, "A")
l1.insert(0, "B")
l1.insert(0, "C")
# Appedn A,B,C
l1.insert(1,"D")
print(l1)

['C', 'D', 'B', 'A']

In [13]:
l1 = ['A','B','C']
a = del l1[0]
print(l1)
print(a)

SyntaxError: invalid syntax (<ipython-input-13-8fac9bf30fb6>, line 2)

In [14]:
l1 = ['A','B','C']
del l1[0]
print(l1)

['B', 'C']

In [18]:
l1 = ['A','B','C']
a = l1.pop()
print(l1)
print(a)

['A', 'B']
C

In [19]:
l1 = ['A',"B","C"]
a = l1.pop(1)
print(l1)
print(a)
# Remove by index number
# Return value

['A', 'C']
B

In [20]:
# Remove by text value

l1 = ['A','B','C','C','D','C']
print(l1)
l1.remove("C")
print(l1)

['A', 'B', 'C', 'C', 'D', 'C']
['A', 'B', 'C', 'D', 'C']

In [21]:
l1 = ['A','B','C','C','D','C']
print(l1)
l1.remove("C")
print(l1)
l1.remove("C")
print(l1)

['A', 'B', 'C', 'C', 'D', 'C']
['A', 'B', 'C', 'D', 'C']
['A', 'B', 'D', 'C']

In [22]:
l1 = ['A','Z','X',"B","C","Y"]
print(l1)
l1.reverse()
print(l1)

['A', 'Z', 'X', 'B', 'C', 'Y']
['Y', 'C', 'B', 'X', 'Z', 'A']

In [23]:
l1 = ['A','Z','X',"B","C","Y"]
print(l1)
l1.sort()
print(l1)

['A', 'Z', 'X', 'B', 'C', 'Y']
['A', 'B', 'C', 'X', 'Y', 'Z']

In [24]:
l1 = ['A','Z','X',"B","C","Y"]
print(l1)
l1.sort()
l1.reverse()
print(l1)

['A', 'Z', 'X', 'B', 'C', 'Y']
['Z', 'Y', 'X', 'C', 'B', 'A']

In [25]:
l1 = ['A','Z','X',"B","C","Y"]
print(l1)
l1.sort(reverse=True)
print(l1)

['A', 'Z', 'X', 'B', 'C', 'Y']
['Z', 'Y', 'X', 'C', 'B', 'A']

In [26]:
l1 = ['A',"B","C"]
print(['A'] + ["C","D"]) # In line Operation
l1.__add__(['D','E']) # In Line Operation

['A', 'C', 'D']

['A', 'B', 'C', 'D', 'E']

In [27]:
l1 = ['A',"C",'D']
l1.__class__

list

In [28]:
l1 = ['A',"C",'D']
print(l1.__contains__("A"))
print(l1.__contains__("E"))

print("A" in l1)

True
False
True

In [29]:
l1 = ['A',"C",'D']
l2 = ['A',"C",'D']
l3 = ["D",'E']
print(l1.__eq__(l2))
print(l1.__eq__(l3))

True
False

In [30]:
l1 = [5,7, 9]
l2 = [3,5,6]
l3 = [7,9,10]
print(l1.__ge__(l2))
print(l1.__ge__(l3))

True
False

In [31]:
print(len(l1))
print(l1.__len__())

3
3

In [32]:
["pakistan"] * 10

['pakistan',
 'pakistan',
 'pakistan',
 'pakistan',
 'pakistan',
 'pakistan',
 'pakistan',
 'pakistan',
 'pakistan',
 'pakistan']

In [33]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']