## Functions
* Pre define functions
* User Define Functions
* Recursive Functions
* Lambda Functions
* Required Arguments
* Optional Arguments
* Return
* Non Return
* Defualt Arguments
* postional Arguments
* KeyWord Arguments
* Argument with List
* Argument with Dictionary
* pre defineFunctions
* User defineFunctions

# Pre define functions

In [1]:
print("Talha")
print(len("Talha"))
print(len("Talha Javaid MAlik"))
print(id("Talha"))
print(type(11))

Talha
5
18
140564236217176
<class 'int'>

# User Defined Functions

In [2]:
print("Pakistan Zindabad")
print("We are Pakistani")
print("We love peace")

Pakistan Zindabad
We are Pakistani
We love peace

In [5]:
def abc(): # function Dec
    print("Pakistan Zindabad") # Function Body statement 1
    print("We are Pakistani") # statement 1
    print("We love peace \n")
    
# default Function
abc() # Function Calling
abc() # Function Calling
abc() # Function Calling

Pakistan Zindabad
We are Pakistani
We love peace

Pakistan Zindabad
We are Pakistani
We love peace

Pakistan Zindabad
We are Pakistani
We love peace

In [6]:

abc()
print('aaa')
print('bbb')
abc()

Pakistan Zindabad
We are Pakistani
We love peace

aaa
bbb
Pakistan Zindabad
We are Pakistani
We love peace

# Required Arguments

In [7]:
def id_card(sid, sname, fname, course, timing):
    text = '''
    PIAIC ISLAMABAD
    id : {}
    Name : {}
    Father's Name: {}
    course : {} 
    timing : {}'''.format(sid,sname,fname,course,timing)
    print(text)

id_card(1, "Talha", "Javaid", "A.I", "9 to 12")
id_card(2, "Ali", "Hamza", "IOT", "3:30 to 6:30")

    PIAIC ISLAMABAD
    id : 1
    Name : Talha
    Father's Name: Javaid
    course : A.I
    timing : 9 to 12

    PIAIC ISLAMABAD
    id : 2
    Name : Ali
    Father's Name: Hamza
    course : IOT
    timing : 3:30 to 6:30

In [12]:
data =[[1,"Qasim","Aslam","A.I","9 to 12"],
      [2,"Hamza","Khalid","Cloud","12:15 to 3:15"],
      [3,"Rauf","Hussain","Quantum Computing","12AM"]]

for v in data:
    id_card(*v)

    PIAIC ISLAMABAD
    id : 1
    Name : Qasim
    Father's Name: Aslam
    course : A.I
    timing : 9 to 12

    PIAIC ISLAMABAD
    id : 2
    Name : Hamza
    Father's Name: Khalid
    course : Cloud
    timing : 12:15 to 3:15

    PIAIC ISLAMABAD
    id : 3
    Name : Rauf
    Father's Name: Hussain
    course : Quantum Computing
    timing : 12AM

In [13]:
id_card(2,"Talha")

TypeError: id_card() missing 3 required positional arguments: 'fname', 'course', and 'timing'

## Optional Arguments

In [20]:
def abc(x, y=0, z=0):
    print(x,y,z)
    print(x+y+z)
    
abc(5)

5 0 0
5

In [15]:
abc(5,7)

5 7 0
12

In [16]:
abc(1,2,3)

1 2 3
6

In [17]:
abc()

TypeError: abc() missing 1 required positional argument: 'x'

# Non Return Functions

In [18]:
abc = print("Pakistan")
print(abc)

Pakistan
None

In [21]:
x = abc(5,7,9)
print(x)

5 7 9
21
None

In [22]:
card = id_card(1,'A',"B","C","D")
print(card)

    PIAIC ISLAMABAD
    id : 1
    Name : A
    Father's Name: B
    course : C
    timing : D
None

# Return Functions

In [23]:

def id_card(sid, sname,fname,course, timing):
    text = """
    PIAIC Islamabad
    id: {}
    Name: {}
    father's Name: {}
    course:  {}
    timing: {}
    """.format(sid,sname,fname,course,timing)
    return text

print(id_card(1,"A","B","C","D"))

    PIAIC Islamabad
    id: 1
    Name: A
    father's Name: B
    course:  C
    timing: D

In [24]:

def id_card(sid, sname,fname,course, timing):
    text = """
    PIAIC Islamabad
    id: {}
    Name: {}
    father's Name: {}
    course:  {}
    timing: {}
    """.format(sid,sname,fname,course,timing)
    return text

id_card(1,"A","B","C","D")

"\n    PIAIC Islamabad\n    id: 1\n    Name: A\n    father's Name: B\n    course:  C\n    timing: D\n    "

In [25]:
def id_card(sid, sname,fname,course, timing):
    text = """
    PIAIC Islamabad
    id: {}
    Name: {}
    father's Name: {}
    course:  {}
    timing: {}
    """.format(sid,sname,fname,course,timing)
    return text # exit function from first return statment
    return "Qasim"
    return "Ali"
    

print(id_card(1,"A","B","C","D"))

    PIAIC Islamabad
    id: 1
    Name: A
    father's Name: B
    course:  C
    timing: D

In [26]:
def id_card(sid, sname,fname,course, timing):
    text = """
    PIAIC Islamabad
    id: {}
    Name: {}
    father's Name: {}
    course:  {}
    timing: {}
    """.format(sid,sname,fname,course,timing)
    return "CHALO" # exit function from first return statment
    return "Qasim"
    return "Ali"
    

print(id_card(1,"A","B","C","D"))

CHALO

In [28]:
def id_card(sid, sname,fname,course, timing):
    text = """
    PIAIC Islamabad
    id: {}
    Name: {}
    father's Name: {}
    course:  {}
    timing: {}
    """.format(sid,sname,fname,course,timing)
    return text, "Qasim", "Ali" # return in tuple form
    

print(id_card(1,"A","B","C","D"))
print("Haye Haye")
print(*id_card(1,"A","B","C","D"))

("\n    PIAIC Islamabad\n    id: 1\n    Name: A\n    father's Name: B\n    course:  C\n    timing: D\n    ", 'Qasim', 'Ali')
Haye Haye

    PIAIC Islamabad
    id: 1
    Name: A
    father's Name: B
    course:  C
    timing: D
     Qasim Ali

In [3]:
def id_card(sid, sname,fname,course, timing):
    text = """
    PIAIC Islamabad
    id: {}
    Name: {}
    father's Name: {}
    course:  {}
    timing: {}
 """.format(sid,sname,fname,course,timing)
    return text, "Qasim", "Ali" 
    

print(*id_card(1,"A","B","C","D"))

    PIAIC Islamabad
    id: 1
    Name: A
    father's Name: B
    course:  C
    timing: D
  Qasim Ali

# UPPER BLOCK OF CODE IS UNCLEAR When you write multiple texts in return it returns the tuple and if you write *with function name it  converts into list, why the last value is not on the next line?

# KeyWord Arguments

In [30]:
def id_card(sid, sname,fname,course, timing):
    text = """
    PIAIC Islamabad
    id: {}
    Name: {}
    father's Name: {}
    course:  {}
    timing: {}
    """.format(sid,sname,fname,course,timing)
    return text

print(id_card("Qasim","Aslam",5007,"A.I","9 to 9"))

    PIAIC Islamabad
    id: Qasim
    Name: Aslam
    father's Name: 5007
    course:  A.I
    timing: 9 to 9

In [31]:
print(id_card(sname="Qasim",fname="Aslam",sid=5007,course="A.I",timing="9 to 9"))

    PIAIC Islamabad
    id: 5007
    Name: Qasim
    father's Name: Aslam
    course:  A.I
    timing: 9 to 9

In [32]:
#             p   p       k      w    k      w       k      w
print(id_card(1,"Qasim",course="A.i",fname="Aslam",timing="ABC"))
# 2 positional
# 3 Keyword Arguments

    PIAIC Islamabad
    id: 1
    Name: Qasim
    father's Name: Aslam
    course:  A.i
    timing: ABC

# Argument with List

In [33]:
def id_card(sid, sname,fname,course, timing):
    text = """
    PIAIC Islamabad
    id: {}
    Name: {}
    father's Name: {}
    course:  {}
    timing: {}
    """.format(sid,sname,fname,course,timing)
    return text

l1 = [1, "Talha", "Aslam", "A.I", "9 to 12"]

print(id_card(l1[0],l1[1],l1[2],l1[3],l1[4]))

    PIAIC Islamabad
    id: 1
    Name: Talha
    father's Name: Aslam
    course:  A.I
    timing: 9 to 12

In [35]:
l1 = [1,"Qasim","Aslam","A.I","9 to 9"]

print(id_card(*l1))
print(*l1)

    PIAIC Islamabad
    id: 1
    Name: Qasim
    father's Name: Aslam
    course:  A.I
    timing: 9 to 9

1 Qasim Aslam A.I 9 to 9

# Argument with Dictionary

In [53]:
def id_card(sid, sname,fname,course, timing):
    text = """
    PIAIC Islamabad
    id: {}
    Name: {}
    father's Name: {}
    course:  {}
    timing: {}
    """.format(sid,sname,fname,course,timing)
    return text


d1 = {
    'course':'A.I',
    'sname':'M.Qasim',
    'fname':'Aslam',
    'sid': 200,
    'timing': "ABC"
}


#print(id_card(sname="Qasim",fname="Aslam",sid=5007,course="A.I",timing="9 to 9"))
print(id_card(**d1))

    PIAIC Islamabad
    id: 200
    Name: M.Qasim
    father's Name: Aslam
    course:  A.I
    timing: ABC

# Recursive Function

In [55]:
def abc(n):
    print(n)
    if n ==1:
        return 1
    return n*abc(n-1)
abc(5)

5
4
3
2
1

120

In [4]:
def abc(n):
    print(n)
    if n ==0:
        return 1
    return n*abc(n-1)
abc(5)

5
4
3
2
1
0

120

# Generator Functions

In [56]:
def abc():
    for i in range(11):
        yield i
        
a = abc()        
print(a)
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

print(list(a))

<generator object abc at 0x7fd793dc7390>
0
1
2
3
4
5
[6, 7, 8, 9, 10]

# Lambda Functions

In [57]:
def xyz(a,b):
    return a + b

xyz(5,8)

13

In [58]:
def xyz(a,b): return a + b

xyz(5,8)

13

In [ ]:
xyz = lambda a,b: a + b

xyz(5,7)